<div class="master">i am master at component.html</div>
<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <app-header></app-header>
  <h1>
   Welcome -{{username}} -to {{title}}! </h1>
  <img width="170" src="http://www.imooc.com/static/img/index/logo_new.png">
</div>
<div class="container top1">
  <h3>i am top1</h3>
  <p>i am the content</p>
  <button class="btn btn-primary btn-lg">BUTTON</button>
  <h2>444Here are some links to help you start: </h2>
  <ul>
    <li>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </li>
  </ul>
</div>
<div class="container">
  <app-myfooter></app-myfooter>
</div>
