<div class="master" >
  <div style="text-align: center; background: lightgray">
    <a [routerLink]="[{outlets: {primary: 'deshboard', aux: 'fuzhu'}}]">进入辅助路由1</a>
    <a [routerLink]="[{outlets: {primary: 'foot', aux: 'details'}}]">进入辅助路由2</a>
    <a [routerLink]="[{outlets: {aux: null}}]">关闭辅助路由</a>
  </div>
  <app-header></app-header>

</div>
<hr>
<!--插座在这里.-->
<div class="container">
  <router-outlet></router-outlet>
  <router-outlet name="aux"></router-outlet>
</div>
<!--The content below is only a placeholder and can be replaced.-->
<app-myfooter>

  <span foot-b>i am the ng-content foot-b</span>
  <span foot-a>i am the ng-content foot-a </span>
</app-myfooter>
