<h3> 响应式表单 -- forms2 works!</h3>

  
<li>对象转json格式显示:  </li>
<li>访问 passwordGROUP >>   </li>
<li> 获取模版变量 myEMAIL >>  </li>
<form [formGroup]="myformModel" (Submit)="createUser()">
  <div class="form2">
    <div class="form-group">
      <label for="username">username:</label>
      <input type="text" class="form-control" formControlName = "myusername" >
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" formControlName = "myemail">
<button  (click)= "addEmail()">ADD E-MAILS</button>

    </div>

<div class="pwdgroup"  >
    <div class="form-group">
      <label for="pwd">password again:</label>
      <input type="password" class="form-control" formControlName = "mypwd" >
    </div>
    <div class="form-group">
      <label for="pwd2">Password:</label>
      <input type="password" class="form-control" formControlName = "mypwd2" >
    </div>	

</div>




    <div class="checkbox">
      <label>
        <input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit响应式表单</button>
  </div>
</form>



<article>

  <li>模版式表单在html都是 ngForm,ngModel开头的。。。在模版中操作数据</li>
  <li>响应式表单在 html里没有＃myform ＃mymodel绑定来访问。。。只能在ts里操作数据，不在模版中操作</li>

  <li>记得本component里引入  FormControl,FormGroup, FormArray from '@angular/forms';
</li>
  <li>formGroup 是 formControl的集合</li>
  <li></li>
</article>
